@{
    var titulo = "Império dos Andaimes";
    var imgAndaime = "img/" + "andaime.svg";
    var imgNovoPedido = "img/" + "novoPedido.svg";
    var imgConsulta = "img/" + "consultaPedido.svg";
    var imgEstoque = "img/" + "estoque.svg";
}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="KOÍOS LTDA">
    <title>@titulo - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TCC.styles.css" asp-append-version="true" />
    <script src="~/js/map.js"></script>
    <link rel="shortcut icon" href="@imgAndaime" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom shadow p-3 mb-5 bg-white rounded">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 d-flex align-items-center justify-content-around">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><img src="@imgAndaime" width="96" alt="Início"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="novoPedido"
                                asp-action="Index"><div class="novoPedido d-flex flex-column align-items-center">
                                    <img src="@imgNovoPedido" alt="Criar novo pedido" width="48"> Novo Pedido
                                </div></a>
                        </li>
                        <section id="vertical_line"></section>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="consultarPedido"
                                asp-action="Index"><div class="consulta d-flex flex-column align-items-center">
                                    <img src="@imgConsulta" alt="Criar novo pedido" width="48"> Consultar pedido
                                </div></a>
                        </li>
                        <section id="vertical_line"></section>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="estoque"
                                asp-action="Index"><div class="estoque d-flex flex-column align-items-center">
                                    <img src="@imgEstoque" alt="Criar novo pedido" width="48"> Estoque
                                </div></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - +ROTAS <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
