@model List<EstoqueModel>
@{
    ViewData["Title"] = "Estoque";
}

<div class="text-center">
    <h2 class="mb-3">Lista de Estoque</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Quantidade Total</th>
                <th>Alugados</th>
                <th>Disponíveis</th>
                <th>Valor Unidade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Nome
                    </td>
                    <td>
                        @item.QuantidadeTotal
                    </td>
                    <td>
                        @item.Alugados
                    </td>
                    <td>
                        @item.Disponiveis
                    </td>
                    <td>
                        R$ @item.ValorUnid
                    </td>
                    <td>
                        <a role="button" class="btn btn-primary" asp-action="EditarProduto" asp-controller="Estoque"
                            asp-route-id="@item.Id">Editar</a>
                    </td>
                </tr>

            }
        </tbody>

    </table>

    <div class="d-flex justify-content-end"><a role="button" class="btn btn-success" asp-action="AddProduto" asp-controller="Estoque">Adicionar Produto</a></div>
</div>