@model List<Estoque>

@{
  ViewData["Title"] = "Criar pedido";
  
  List<Pedido> novoPedidos = new List<Pedido>();
  

  double subTotal = 0;
  string nome = "Quantidade";
  string a = "IdProduto";
}

<h2 class="text-center mb-3">Novo Pedido</h2>
<form asp-action="Cadasto" asp-controller="novoPedido" method="post">
  @foreach (var item in Model)
  {
    <div class="mb-3 d-flex align-items-end">
      <label for="@item.Id" class="form-label text-nowrap w-50">@item.Nome</label>
      <input class="escondido" type="number" value="@item.Id" name="@a">
      <input type="number" class="form-control" name="@nome" id="@item.Id flex-shrink-1" placeholder="0" min="0" max="@item.Disponiveis" oninput="qtdObj(@item.Id)">
      <div class="w-50 text-end" id="subTotal">R$ @item.ValorUnid @* Aqui entra o valor de input para calcular o valor parcial por produto *@</div>
      @*Temos que ver uma forma de atribuir os valores parciais gerados para incluir na variavel de subtotal*@
    </div>
  }
  <div class="col-12">
    <button class="btn btn-success" type="submit">Gerar Nota</button>
  </div>
</form>
  <h3 class="text-end">Total = R$ @subTotal</h3>