@{
  ViewData["Title"] = "Criar pedido";
  double subTotal = 0;
}

<h2 class="text-center mb-3">Novo Pedido</h2>
<form asp-area="" asp-action="NovaNota" asp-controller="novoPedido">

  @foreach (var item in ViewBag.Produtos)
  {
    <div class="mb-3 d-flex align-items-end">
      <label for="@item.IdProduto" class="form-label text-nowrap w-50">@item.Nome</label>
      <input type="number" class="form-control" id="@item.IdProduto flex-shrink-1" placeholder="0" min="0" max="@item.Disponiveis">
      <div class="w-50 text-end" id="subTotal">R$ @item.ValorUnid @* Aqui entra o valor de input para calcular o valor parcial por produto *@</div>
      @*Temos que ver uma forma de atribuir os valores parciais gerados para incluir na variavel de subtotal*@
    </div>
  }
  <h3 class="text-end">Total = R$ @subTotal</h3>
  <div class="col-12">
    <button class="btn btn-success" type="submit">Gerar Nota</button>
  </div>
</form>