@model List<EstoqueModel>

@{
  ViewData["Title"] = "Criar pedido";
  

}

<h2 class="text-center mb-3">Novo Pedido</h2>
<form asp-action="novoPedido" asp-controller="novoPedido" method="post">

  @if (Model != null && Model.Any())
  {
    @foreach (var item in Model)
    {

            <div class="mb-3 d-flex align-items-end">
              <label for="@item.Id" class="form-label text-nowrap w-50">@item.Nome</label>
              <input type="number" class="form-control" id="@item.Id" placeholder="0" min="0" max="@item.Disponiveis" oninput="calcularValorProdutos(@item.ValorUnid)">
              
              <div class="w-50 text-end">R$<p id="valorUnidade">@item.ValorUnid</p></div>
              @*<input type="hidden" name="valorQtdProduto" value="0" id="QtdProduto">*@        
            </div>        
    }
  }

  <div class="col-12">
    <button class="btn btn-success" type="submit">Gerar Nota</button>
  </div>
</form>

  <h3 class="text-end" id="valorTotal"></h3>