@model RelatorioModel
@{
    ViewData["Title"] = "Resultado Relatório";
}

<div class="text-center">
    <div class="d-flex justify-content-center">
        <div class="me-2">
            <label class="form-label ">Data Inicial</label>
            <input class="form-control" type="date" value="@Model.DataInicial.ToString("yyyy-MM-dd")" readonly>
        </div>
        <div>
            <label class="form-label me-2">Data Final</label>
            <input type="date" class="form-control" value="@Model.DataFinal.ToString("yyyy-MM-dd")" readonly>
        </div>
    </div>
    <div>
        <label for="TotalVendas" class="form-label">Valor de Vendas Bruto em R$: </label>
        <input class="form-control" type="text" value="@Model.ValorTotalVendas" readonly>
    </div>
    <div><label class="form-label">Quantidade de Notas Geradas</label><input type="number" class="form-control" value="@Model.Notas.Count" readonly></div>
        <div><label class="form-label">Notas em Abertas</label><input type="number" class="form-control" value="@Model.NotasAbertas" readonly></div>
        <div><label class="form-label">Notas em Fechadas</label><input type="number" class="form-control" value="@Model.NotasFechadas" readonly></div>
    <div>
        <p>Produtos mais Alugados: </p>
        @for (int i = 0; i < @Model.TopProdutos.Count; i++)
        {
            for (int j = 0; j < @Model.Estoque.Count; j++)
            {
                if (@Model.TopProdutos[i].IdProduto == @Model.Estoque[j].Id)
                {
                    <div class=" ">
                        <label class="form-label">@Model.Estoque[j].Nome</label>
                        <input class="form-control" value="@Model.TopProdutos[i].Quantidade" readonly>
                    </div>
                }
            }
        }
    </div>
</div>